body {
    background-color: #fff9a3;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: #a58bec;
    text-align: center;
    padding: 10px;
}

h3{

}

p {
    color: #f80361;
    text-indent: 5mm;
}

ul {
    list-style-type: none;
    color: #f80361;
}

li {
    padding: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #7e58e9;
}